/* Create variables*/
/*Page */
body {
  background-color: #ecede6;
  color: #191919;
  font: 185 11px/20px "Ubuntu", sans-serif;
  letter-spacing: normal;
  height: auto;
  margin: 0;
}

/* Use variables*/
.mainHeader {
  background-color: #ffffff;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 5px 0;
  top: 0;
  width: 99%;
  margin: 1px 21px 3px 4px;
}

.title-text-div {
  width: 500px;
}

.title-text {
  color: #000000;
  display: block;
  margin: 4px;
  font: 185 19px / 20px "Ubuntu", sans-serif;
  text-align: center;
}

.title-right-img, .title-left-img {
  max-width: 100%;
  margin: 4px;
}

.title-left-img {
  max-height: 50px;
  text-align: center;
}

.title-right-img {
  max-height: 37px;
}

ul li {
  width: 590px;
  padding: 0px;
  margin: 0px;
  border-right: 0.2px solid #a0aa674d;
  border-left: 0.2px solid #a0aa674d;
}

.html-fill-container.html-fill-item.tab-content {
  background-color: #ecede6;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: -webkit-fill-available;
}

.cardrow3, .cardrow2, .singlevaluebox {
  background-color: #ffffff;
  position: relative;
  float: left;
  border-radius: 5px;
  margin: 7px 5px 5px 5px;
  width: 98.5%;
  border: 0.5px solid #a0aa674d;
}

.singlevaluebox {
  height: 100px;
}

.cardrow2 {
  height: 350px;
}

.cardrow3 {
  height: 450px;
}

.card-header {
  border-bottom: 0.2px solid #a0aa674d;
  border-top: 0.2px solid #a0aa674d;
  background-color: #ffffff;
}
